
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
  }


.background-image{
    background: url(../images/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom: 0px;
    height: 100vh;
}
.about-background-image{
  background: url(../images/download.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-bottom: 0px;
  height: 60vh;
}
.h-90{
    height: 90vh;
}
.h-50{
  height: 50vh!important;
}
.banner-heading,.banner-subheading{
    text-align: left;
    color: #fff;
}
.banner-heading{
    font-size: 40px;
}
.banner-subheading{
    font-size: 20px;
   
}
.section-heading{
    font-size: 30px;
    text-transform: uppercase;
    
    
}
.section-subheading{
    font-size: 20px;
    margin-bottom: 20px;
}
.third-section .section-subheading {
    color: #fff;
    
}
.third-section .section-heading {
    color: #fff;
    margin-bottom: 20px;;
}

.para{
    font-size: 16px;
}
.card-link{
  color: #fc773b;
}
.btn-effect{
    overflow: hidden;
    color: #fff;
    position: relative;
    outline: none;
    background-color: #fc773c;
    border-radius: 30px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 2;
    font-weight: 500;
    font-size: 15px;
    padding: 0.5rem 2rem;
    width: 20%;
    border:2px solid transparent;
    max-width: 150px;
    min-width: 150px;
}
.wrapper .btn-effect{
  width:25%;
}
.btn-effect:focus{
  outline: none;
}
.btn-effect:hover{
    color:#fc773c;
    background-color: #fff;
    cursor: pointer;
    border:2px solid #fc773c;
}
.btn-effect:hover a{
    color:#fc773c;
}
.btn-effect a{
    color: #fff;
}

.second-section img{
    border-radius: 10px;
}

.paral {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    }
    
.paral p {
    color:#f5f5f5;
    }
.paralsec {
    background-image: url("../images/third-image.jpg");
    }
.footer-bg{
    background-color: #393939;
    color: #f5f5f5;
} 
.footer-bg h5{
    font-size: 15px;
    font-weight: 600;
}

.list li{
    list-style-type: none;
    margin-bottom: 10px;
}
.close{
  position: absolute;
  right: 10px;
  font-size: 25px;
  top:8px;

}
.close:focus{
  outline: none;
}
.modal-title {
  font-size: 20px;
}
.loginBox .form-control{
  margin-bottom: 10px!important;
}

/* header */
.navbar .nav-item{
    margin-right: 20px;
    color: #fff;
    
} 
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus{
  outline: none;
  color: #fff;
}
.show>.nav-link{
  color: #fff!important;
}
.navbar-light .nav-item.active .nav-link{
  color: #fff;
}
.navbar .navbar-brand{
    max-width: 100px;;
}
.navbar-light .navbar-toggler-icon{
  background-image: url(../images/carvon.svg);
}
.navbar-toggler{
  border:none;
  font-size: 20px;
}
.navbar-toggler:focus{
  outline: none;
}

.dropdown .dropdown-item{
  font-size: 15px;
  margin-bottom: 10px;
}
.dropdown-menu {
  padding: 15px;
  
}
.section-topspace{
    padding-top: 70px;
}
.section-bottomspace{
    padding-bottom: 70px;
}
a:hover{
    text-decoration: none;
}
.headershawdow{
    background: #393939;
    color:#fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: .3s all;
    -webkit-transition: .3s all;
    -webkit-animation: smoothScroll 1s forwards;
    animation: smoothScroll 1s forwards;
}
.headershawdow .nav-item .nav-link {
    color: #fff;
}
.headershawdow .navbar-nav .active>.nav-link{
    font-weight: 700;
    color: #fff;
}
.media img{
  width: 150px;
  max-width: 150px;
}


/* Responsive  */

@media only screen and (max-width: 600px){
  .navbar-brand img{
    max-width: 100px;
  }
  .background-image{
    height: 60vh;
  }
  .btn-effect{
    width: 100%;
    width: 50%;
  }
  .banner-heading{
    font-size: 22px;
    margin-top: 50px;
  }
  .section-heading{
    font-size: 18px;
    
  }
  .section-subheading{
    margin-top:10px;
  }
  .banner-subheading {
    font-size: 16px;
   
}
.login .modal-dialog {
  margin:0;
  top:10%;
}
  .h-90{
    height: 60vh;
  }
  .navbar-light .navbar-nav .nav-item .nav-link{
    text-align: center;
    margin-bottom: 15px;
  }
  .navbar-light .navbar-nav .nav-item:last-child{
    justify-content: center;
  
  }
  
}


